.blankarticle{
  padding-top: 4rem;

}

.blankheader{
 font-family: 'Poppins', sans-serif;
 font-size: 3rem;

}

.blanktext{
  font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
  color: #1D3258;
}
