.wineimgflex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 4rem;
}

.wineimgdiv{
  height: 510px;
  overflow: hidden;
}


.wineimg{
  height: 510px;
  max-width: 100%;
}


.winedivflex{
  display: flex;
  flex-direction: column;
}

.wineflex{
  display: flex;
  flex-direction: row;
}
.titledetail{

  color: #C47D59;
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  font-weight: bold;

}

.yeardetail{
  color: #C47D59;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 600;

}

.producerdetail{
  color: #C47D59;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;

}

.sugardetail{
  color: #1D3258;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-top: 4rem;
}

.alcoholdetail{
  color: #1D3258;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-top: 0.5rem;
}

.typedetail{
  color: #1D3258;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-top: 0.5rem;

}

.descriptiondetail{
  color: #1D3258;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-top: 1rem;
  max-width: 300px;
  min-height: 100px;
}

.pricedetail{
  color: #C47D59;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding-top: 2rem;
}
@media (min-width: 481px) and (max-width: 767px) {
  .wineimgflex{
    flex-direction: column;
  }
  .wineimgdiv{
    display: flex;
    justify-content: center;
    padding: 3rem;
  }
  .wineflexbut{
    
      flex-direction: column;
    
  }
}
@media screen and (max-width: 450px) {
  .wineimgflex{
    flex-direction: column;
  }
  .wineimgdiv{
    display: flex;
    justify-content: center;
    padding: 3rem;
  }
  .wineflexbut{
    
    
      flex-direction: column;
    
  }
}