.article{
 display: flex;
 flex-direction: row;
  width: 514px;
  height: 551px;
  background-color: #222F5E;

}

.article2{
display: flex;
flex-direction: column;
width: 494px;
height: 551px;
background-color: #C47D59;

}

.articleflex{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.overarticleheader{
  color: #1D3258;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 71.8px;
  letter-spacing: 2.15px;
  line-height: 5rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.article2name{
  font-size: 35px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif; 
  color: #222F5E;
  text-align: center;
  padding-top: 1.7rem;
}
.articlename{
  font-size: 35px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif; 
  color: white;
  padding-left: 2rem;
  line-height: 2.5rem;
  padding-top: 2rem;
}

.articleheader{
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  color: #C47D59;
  font-weight: bold;
  line-height: 3rem;
  padding-bottom: 2.5rem;
  
}
.articlewinedesc{
  font-size: 15.94px;
  font-family: 'Poppins', sans-serif;
  color: #C47D59;
  font-weight: 600;
  padding-left: 2rem;
  line-height: 0.5rem;
  padding-top: 2rem;
  
}
.articlewinedesc2{
  font-size: 17.08px;
  font-family: 'Poppins', sans-serif;
  color: #C47D59;
  font-weight: 400;
  padding-left: 2rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
}

.articletext{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
  line-height: 1.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.article2button{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  width: 272px;
  height: 49px;
  border: none;
  background-color: white;
  color: #222F5E;
  cursor: pointer;
  transition: 0.3;
}

.article2button:hover{
  background-color: #222F5E;
  color: white;
}
.articlebutton{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  width: 272px;
  height: 49px;
  border: none;
  background-color: white;
  color: #C47D59;
  cursor: pointer;
  transition: 0.3;
}
.articlebutton:hover{
  background-color: #C47D59;
  color: white;
}
.article2undertext{
  padding-top: 1.7rem;
  color: #222F5E;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 2rem;
}


@media (min-width: 1025px) and (max-width: 1280px){
.articleflex{
  display: flex; 
  flex-direction: column; 
  margin: auto;
}
.articleheader{
  padding-top: 2rem;
 }
}


@media (min-width: 768px) and (max-width: 1024px){
  .articleflex{
    display: flex; 
    flex-direction: column; 
    margin: auto;
  }
  .overarticleheader{
    color: #1D3258;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 71.8px;
    letter-spacing: 2.15px;
    line-height: 5rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
  .articleheader{
    padding-top: 2rem;
   }

}

@media (min-width: 481px) and (max-width: 767px) {
  .articleflex{
    display: flex; 
    flex-direction: column; 
    margin: auto;

  }

  .overarticleheader{
    color: #1D3258;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 51.8px;
    letter-spacing: 2.15px;
    line-height: 4rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }

  .articlebuttondiv{
    padding-bottom: 2rem;
  }
  .article{
    display: flex;
    flex-direction: column;
     width: 100%;
     height: 100%;
     background-color: #222F5E;
   }

   .articleheader{
    padding-top: 2rem;
   }

   .article img{
    display: none;
   }
   
   .article2{
   display: flex;
   flex-direction: column;
   width: 100%;
     height: 100%;
   background-color: #C47D59;
   
   }

}
 
@media (max-width: 480px) {
  .articleflex{
    display: flex; 
    flex-direction: column; 
    margin: auto;
  }

  .overarticleheader{
    color: #1D3258;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 51.8px;
    letter-spacing: 1.15px;
    line-height: 4rem;
    padding-top: 6rem;
    padding-bottom: 0rem;
  }

  .articlebuttondiv{
    padding-bottom: 2rem;
  }
  .article{
    display: flex;
    flex-direction: column;
     width: 100%;
     height: 100%;
     background-color: #222F5E;
   }

   .articleheader{
    padding-top: 1rem;
   }

   .article img{
    display: none;
   }
   
   .article2{
   display: flex;
   flex-direction: column;
   width: 100%;
     height: 100%;
   background-color: #C47D59;
   
   }

 }