.footerbox{
  background: url("../public/Color Overlay.svg"), #6DB3F2;;
  background-position: center;
  background-size: cover;
  
}

.copyright{
  height: 58px;
  width: 100%;
  background-color: #222F5E;
}

.copyrighttext1{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 400;
 
}

.copyrighttext2{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #C47D59;
  font-weight: 400;
 
}

.copyrighttext3{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 400;
  
}

.copyrighttext4{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #C47D59;
  font-weight: bold;
  text-decoration: underline;
  
}

.copyrighttext4:hover{
  color: white;
  cursor: pointer;
}

.cpgroup{
  display: flex; 
flex-direction: row;
}
@media (min-width: 1025px) and (max-width: 1280px){
  .copyright{
    height: 78px;
    
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .copyright{
    height: 78px;
   
  }
}

  @media (min-width: 481px) and (max-width: 767px) {
    .copyrighttext1{
      font-size: 11px;
    }
    
    .copyrighttext2{
      font-size: 11px;
    }
    
    .copyrighttext3{
      font-size: 11px;
    }
    
    .copyrighttext4{
      font-size: 11px;
    }
  }

    @media (max-width: 480px) {
.copyrighttext1{
  font-size: 11px;
}

.copyrighttext2{
  font-size: 11px;
}

.copyrighttext3{
  font-size: 11px;
}

.copyrighttext4{
  font-size: 11px;
}

.cpgroup{
  display: flex; 
flex-direction: column;
}

.copyright{
  height: 78px;
  
}
    }