.column1{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #1D3258;
  font-weight: bold;

}

.column2{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #1D3258;
  font-weight: 500;
}

.column3_1{
  
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #1D3258;
  font-weight: bold;
}

.column3_2{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #1D3258;
  font-weight: 500;
}

.underlineinfo{
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #626262;
  padding-left: 20.4%;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.footerdiv{
  display: flex; 
  flex-direction:row; 
  justify-content: space-between;
}

.footerbody{
  background-color: #e6e6e6;
  width: 100%; 
  height: 100%; 
  position: absolute; 
  overflow: hidden;
  z-index: -2;
}

@media (min-width: 1025px) and (max-width: 1280px){
  .footerdiv{
    display: flex; 
    flex-direction:column; 
    justify-content: center;
  }

.column1{
  text-align: center;
  padding-top: 2rem;
}
.column2{
  text-align: center;
  padding-top: 2rem;
}
.column3_1{
  text-align: center;
  
}               
.column3_2{
  text-align: center;   
  
}

.footerbody{
height: 100%;
}

.footercolflex{
justify-content: center;
}

.footercolflexp{
padding-top: 1rem;
}

.underlineinfo{
font-family: 'Poppins', sans-serif;
font-size: 12px;
font-weight: 500;
color: #626262;
padding-left: 5.4%;
padding-top: 1rem;
}
}

@media (min-width: 768px) and (max-width: 1024px){
  .footerdiv{
    display: flex; 
    flex-direction:column; 
    justify-content: center;
  }

.column1{
  text-align: center;
  padding-top: 2rem;
}
.column2{
  text-align: center;
  padding-top: 2rem;
}
.column3_1{
  text-align: center;
  
}               
.column3_2{
  text-align: center;   
  
}

.footerbody{
height: 100%;
}

.footercolflex{
justify-content: center;
}

.footercolflexp{
padding-top: 1rem;
}

.underlineinfo{
font-family: 'Poppins', sans-serif;
font-size: 12px;
font-weight: 500;
color: #626262;
padding-left: 5.4%;
padding-top: 1rem;
}
}

  @media (min-width: 481px) and (max-width: 767px) {
    .footerdiv{
      display: flex; 
      flex-direction:column; 
      justify-content: center;
    }

  .column1{
    text-align: center;
    padding-top: 2rem;
}
  .column2{
    text-align: center;
    padding-top: 2rem;
}
  .column3_1{
    text-align: center;
    
}               
  .column3_2{
    text-align: center;   
    
}

.footerbody{
  height: 100%;
}

.footercolflex{
  justify-content: center;
}

.footercolflexp{
  padding-top: 1rem;
}

.underlineinfo{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #626262;
  padding-left: 5.4%;
  padding-top: 1rem;
}
  }


    @media (max-width: 480px) {
      .footerdiv{
        display: flex; 
        flex-direction:column; 
        justify-content: center;
      }

    .column1{
      text-align: center;
      padding-top: 2rem;
  }
    .column2{
      text-align: center;
      padding-top: 2rem;
  }
    .column3_1{
      text-align: center;
      
  }               
    .column3_2{
      text-align: center;   
      
  }

  .footerbody{
    height: 1000px;
    overflow: hidden;
  }

  .footercolflex{
    justify-content: center;
  }

  .footercolflexp{
    padding-top: 1rem;
  }

  .underlineinfo{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #626262;
    padding-left: 5.4%;
    padding-top: 1rem;
  }
}