@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

@font-face {
  font-family: 'Gloss Drop';
  src: url("../font/Gloss\ Drop.otf") format("opentype");
}

.poppinsbold{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}



.divbodyborder{
  width:62.5%;
  margin: auto;
  align-content: center;
  
}

body{
margin:0;
padding:0;
overflow-x:hidden;
}

@media (min-width: 768px) and (max-width: 1024px){
  .divbodyborder{
    width:72.5%;

  }

}

@media (min-width: 481px) and (max-width: 767px) {
  .divbodyborder{
    width:82.5%;

  }


}

@media (max-width: 480px) {

  .divbodyborder{
    width:82.5%;

  }


}
