.newsheader{
  font-size: 71.8px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #C47D59;
  line-height: 5rem;
}

.newstext{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #1D3258;

}

.newsinput{
width: 410px;
border: 2px solid #C47D59;
height: 50px;
color: #1D3258;
background-color: white;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-style: italic;
padding-left: 2rem;
}

.newssubmit{
  width: 272px;
  border: 0px;
  height: 54px;
  text-align: center;
  color: white;
  background-color: #1D3258;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold; 
  cursor: pointer;
  transition: 0.3s;
}

.newssubmit:hover{
  border: 1px solid #1D3258;
  color: #1D3258;
  background-color: white;
}

::placeholder { 
color: #1D3258;
opacity: 1; 
text-align: center;
}

.newsform{
  display:flex; 
  flex-direction:row;
}

.newsformdiv{
  display:flex;
  flex-direction:row;
  padding-top: 7rem; 
}

.newsmaindiv{
  display:flex; 
  flex-direction: row; 
  justify-content: space-between;
}

@media (min-width: 1480px) and (max-width: 1762px){

  .newsform{
    align-items: center;
    display:flex; 
    flex-direction: column;
    padding-bottom: 2rem;
    }
    .newsformdiv{
       padding-top: 3rem;
    }
}


@media (min-width: 1025px) and (max-width: 1480px){
  .newssubmit{
    width: 50%;
  }
  .newsinput{
    width: 100%;
  }

.newsform{
display:flex; 
flex-direction: column;
}

.newsformdiv{
padding-top: 2rem;
display:flex; 
flex-direction: column;
}
.newsmaindiv{
display:flex; 
flex-direction: column; 
justify-content: space-between;
}
}
 
@media (min-width: 768px) and (max-width: 1024px){
  .newssubmit{
    width: 98.5%;
  }
  .newsinput{
    width: 100%;
  }

.newsform{
display:flex; 
flex-direction: column;
}

.newsformdiv{
padding-top: 2rem;
display:flex; 
flex-direction: column;
}
.newsmaindiv{
display:flex; 
flex-direction: column; 
justify-content: space-between;
}
}

  @media (min-width: 481px) and (max-width: 767px) {
    .newssubmit{
      width: 98%;
    }
    .newsinput{
      width: 100%;
    }

.newsform{
  display:flex; 
  flex-direction: column;
}

.newsformdiv{
  padding-top: 2rem;
  display:flex; 
  flex-direction: column;
}
.newsmaindiv{
  display:flex; 
  flex-direction: column; 
  justify-content: space-between;
}
  }

  @media (max-width: 480px) {
    .newssubmit{
      width: 97%;
    }
    .newsinput{
      width: 100%;
    }

.newsheader{
  font-size: 61px;
}

.newsform{
  display:flex; 
  flex-direction: column;
}

.newsformdiv{
  padding-top: 2rem;
  display:flex; 
  flex-direction: column;
}
.newsmaindiv{
  display:flex; 
  flex-direction: column; 
  justify-content: space-between;
}
  }