.winediv{
  display: flex; 
  flex-direction: row;
}

.winediv2{
  width: 25%;
}

.winename{
  font-family: 'Poppins', sans-serif;
  font-size: 17.39px;
  color: #C47D59;
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;

}

.wineorigin{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #1D3258;
  font-weight: 600;
  line-height: 0.5rem;
  margin-bottom: 0.4rem;

}

.winedate{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #1D3258;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 7rem;

}

.winesale{
  font-family: 'Poppins', sans-serif;
  font-size: 13.69px;
  color: #1D3258;
  font-weight: 400;
  line-height: 1rem;

}

.wineprice{
  font-family: 'Poppins', sans-serif;
  font-size: 31.36px;
  color: #C47D59;
  font-weight: bold;
  line-height: 2.5rem;
  margin-bottom: 1rem;

}

.wineskladem{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #1D3258;
  font-weight: 600;
  padding-left: 0.4rem;

}

.wineoverlay{
  width: 100%;
  height: 385px;
  background: rgba(29, 50, 88, 0);
  position: absolute;
 display: flex;
 align-items: center;
 flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.wineoverlay:hover{
  background: rgba(29, 50, 88, 0.9);
  opacity: 1;

}

.wineoverlaybutton{
  width: 246px;
  height: 71px;
  background-color: #C47D59;
  border: 0;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  opacity: 1;
}

.wineoverlaydetail{
  font-family: 'Poppins', sans-serif;
  font-size: 31.49px;
  text-decoration: underline;
  color:white;
  font-weight: bold;
  padding-top: 3rem;
  margin-top: 2rem;
}

.wineoverlaycounter{
  font-family: 'Poppins', sans-serif;
  font-size: 26.12px;
  color:white;
  font-weight: bold;
  padding-bottom: 2rem;
}


@media (min-width: 481px) and (max-width: 767px) {
  .winediv{
    display: flex; 
    flex-direction: column;
  }

  .winediv2{
    width: 100%;
  }
}